:root {
    --primary-color: rgba(146, 204, 205, 1); 
    --secondary-color: rgba(68, 88, 119, 1);
    --tertiary-color: rgba(49, 52, 61, 1);
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--tertiary-color);
}

/* apply styles to <header> */

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    background-color: var(--primary-color);
    padding: 5px 5px 5px 50px;
}

header a {
    color: var(--tertiary-color);
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    margin: 0 5px 0 5px;    
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
}

footer {
    background: var(--primary-color);
    padding: 15px 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 20px;
    margin: 5px;
}

footer div {
    line-height: 1.5;
    text-align: center;
}

footer a {
    color: var(--secondary-color);
}

section {
    padding: 60px;
}

.hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #ffff;
    font-size: 18px;
    line-height: 1.2;
}

.hero-cta h2 {
    font-style: bold;
    font-size: 55px;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}

.hero-form {
    background-color: rgba(252, 225, 56, 0.8);
    padding: 20px;
    color: var(--secondary-color);
    border: solid 3px var(--secondary-color);
    width: 40%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.hero-form h3 {
    font-size: 24px;
    margin: 0;
}

.section-title {
    font-size: 48px;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: left;
    margin: 0 auto 35px auto;
    width: 50%;
}

.primary-border {
    border-color: var(--primary-color);
}

.secondary-border {
    border-color: var(--tertiary-color);
}

.intro p {
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.flex-box {
    display: flex;
}

.works {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects {
    margin: 20px;
    background: var(--secondary-color);
    color: var(--primary-color);
    flex: 1;
}

.projects img {
    width: 100%;
}

.project-name h3 {
    font-size: 28px;
}

.project-format h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
}

.contact h2 {
    color: var(--tertiary-color);
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info>* {
    flex: 1;
    margin: 15px;
}

.contact-info div {
    color: white;
}

.contact-info h4 {
    color: var(--primary-color);
    font-size: 32px;
    border-bottom: 5px solid var(--secondary-color);
}

.contact-info a:hover {
    color: var(--primary-color);
    background: var(--secondary-color);
}

.contact-info a {
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 5px solid var(--secondary-color);
    margin: 5px;
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    footer h2, footer div {
        text-align: center;
        width: 100%;
    }
    .hero-cta, .hero-form {
        width: 100%;
    }
    .hero-cta {
        text-align: center;
    }
    .section-title {
        width: 80%;
    }
    .trainers {
        justify-content: center;
    }
    .trainer {
        flex: 0 70%;
    }
    .contact-info iframe {
        flex: 1 100%;
    }
}

@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
    .step h3 {
        flex: 1 100%;
        text-align: center;
    }
    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }
    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .step-text {
        flex: 100%;
    }
}

@media screen and (max-width: 575px) {
    .hero-form button {
        width: 100%;
    }
    .section-title {
        width: 95%;
    }
    .intro p {
        width: 100%;
    }
    .trainer {
        flex: 0 100%;
    }
    .contact-info {
        text-align: center;
    }
    .contact-info>* {
        flex: 0 100%;
    }
    .contact-form {
        order: 3;
    }
}